body{
    background-color: rgb(255, 255, 255);
}

.mainDiv{
    position: relative;
    width: 50%;
    height: 4000px;
    margin: auto;
    overflow: hidden;
}


img{
    height: 5%;
    width: 100%;

}

.underPicture{
    position: relative;
    height: 4%;
    width: 4%;
    left: 30px;
    top: 0px;
    line-height: 30px;
    fill:  rgb(1, 1, 83);;
}

.beskrivelser{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: larger;
    color: rgb(1, 1, 83);
}

#tittel{
    color:  rgb(0, 0, 83);
}

h3{
    top: 300px;

}

/*kommentar*/

#artikkel{
    position: relative;
    line-height: 2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: darkblue;
}
/* info*/

#dato{
    position: absolute;
    left: 100px;
    top: 275px;
}

#klokke{
    position: absolute;
    left: 100px;
    top: 315px;
}

#sport{
    position: absolute;
    left: 100px;
    top: 355px;
}

#sted{
    position: absolute;
    left: 100px;
    top: 400px;
}

/*info*/

